@import "foundation_and_overrides";

header {
	display:inline;
	position:fixed; top:0px;	
	padding-top: 20px;
	margin-bottom: 200px;
	background-color: #CCFFFF;
	width: 100%;
	height : 100px;
	color: #909090;
	font-size: 40px;
	font-family: Ubuntu, Arial, sans-serif;
	
	}

	second {
	display:inline;
	font-family: Raleway, sans-serif;
	font-size: 36px;
	color: #FF6600;
}

body{
	margin-top: 200px;
}